@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #888888;
  --color-accent-pink: #fc1474;
  --color-accent-blue: #295fee;
  --color-dark-gray: #333333;
  --color-light-gray: #cccccc;
  --color-background: #1a1a1a;

  --font-base: "Montserrat", sans-serif;

  /* BACKGROUND */
  --color-bg: var(--color-primary);
  --color-surface: #111111;
  --color-card: #1f1f1f;
  --color-overlay: rgba(0, 0, 0, 0.6);
  --color-card-bg: #212020;
  
  /* GRADIENTS */
  --color-gradient-pink-r: linear-gradient(
    to right,
    var(--color-accent-pink) 1px,
    transparent 1px
  );

  --color-gradient-pink-b: linear-gradient(
    to bottom,
    var(--color-accent-pink) 1px,
    transparent 1px
  );

  /* BUTTON */
  --color-button-primary: var(--color-accent-pink);
  --color-button-primary-hover: #d80c60;
  --color-button-primary-foreground: var(--color-text-primary);

  --color-button-secondary: transparent;
  --color-button-secondary-hover: var(--color-dark-gray);
  --color-button-secondary-foreground: var(--color-text-primary);
  --color-button-secondary-border: var(--color-dark-gray);

  /* ACCENTS */
  --color-accent: var(--color-accent-pink);
  --color-accent-alt: var(--color-accent-blue);

  /* BORDER */
  --color-border: var(--color-dark-gray);
  --color-border-strong: #444444;

  /* STATES */
  --color-state-disabled: #555555;

  /* =========================
     TYPOGRAPHY
  ========================= */
  --font-sans: var(--font-base);

  /* =========================
     SHADOWS / EFFECTS
  ========================= */
  --shadow-glow-pink: 0 0 10px var(--color-accent-pink);
  --shadow-glow-blue: 0 0 10px var(--color-accent-blue);
}



@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
